/* *** CART SECTION *** */
.cart{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-wrapper{
    height: 600px;
    width: 90%;
    max-width: 800px;
    background-color: rgb(136, 136, 136);
}
.cart-container{
    width: 100%;
    height: 90%;
    overflow: auto;
}
.cart-sections{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart-titles p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.cart-titles{
    border-bottom: 1px solid black;
}
.cart-item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.cart-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.cart-item-img{
    height: 80px;
}
.qty-btn{
    padding: 0px 5px;
}
.remove-from-cart{
    background-color: rgb(65, 65, 65);
    color: rgb(0, 0, 0);
    padding: 0px 5px;
    cursor: default;
}